<div class="bootstrap-wrapper">
  <div class="container bottom">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center" style="font-weight: bold; color: wheat">Create Account</h1>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">First Name</mat-label>
            <input matInput placeholder="Enter here" formControlName="firstName" />
            <mat-error class="mat-error" *ngIf="userForm.controls['firstName'] ">
              Firstname cannot be empty or it only accept alphabets.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Last Name</mat-label>
            <input matInput placeholder="Enter here" formControlName="lastName" />
            <mat-error class="mat-error" *ngIf="userForm.controls['lastName'] ">
              Please enter only alphabets.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Email</mat-label>
            <input matInput placeholder="Enter here" formControlName="email" />
            <mat-error class="mat-error" *ngIf="userForm.controls['email'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
              Email is required and must be a valid email address.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Password</mat-label>
            <input matInput placeholder="Enter here" formControlName="password" />
            <mat-error class="mat-error" *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['password'].touched)">
              Password must follow this pattern (one Upparcase, one special characters, one number and should be minimum 6 characters)
            </mat-error>
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="bootstrap-wrapper">
  <div class="container">
    <div class="row bottom">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center" style="font-weight: bold; color: wheat">Create Account</h1>
        <form>
          <mat-form-field class="full-width">
            <mat-label class="custom-label">First Name</mat-label>
            <input matInput placeholder="Enter here" />
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Last Name</mat-label>
            <input matInput placeholder="Enter here" />
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Email</mat-label>
            <input matInput placeholder="Enter here" />
          </mat-form-field>
          
          <mat-form-field class="full-width">
            <mat-label class="custom-label">Password</mat-label>
            <input matInput placeholder="Enter here" />
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary">Submit</button>
            <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<!-- <div class="bootstrap-wrapper">
<div class="container bottom" style="color: yellowgreen;">
  <h1>Create New User Account</h1>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">firstName:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
    </div>
    <div>
      <label for="lastName">LastName:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <!-- <div>
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" [(ngModel)]="user.confirmPassword" required>
    </div> -->
    <!-- <button type="submit">Create Account</button>
  </form>
</div>
</div> -->

