.menu-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-image: url("/src/assets/RestaurantWebsite_Thumbnail_1134x758px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cart-button{
    position: fixed;
    top: 90px;
    right: 20px;
    font-size: 24px;
  }
  
  .menu-header {
    margin-top: 20px;
    font-size: 36px;
    color: chocolate;
    text-align: center;
    border: yellow;
  }
  
  .menu-section {
    margin-top: 50px;
  }
  
  .section-header {
    font-size: 24px;
    color: white;
  }
  
  .item-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: white;
  }
  
  .item-name {
    font-size: 25px;
    font-weight: bold;
    color: gold;
  }
  
  .item-price {
    font-size: 16px;
    font-weight: bold;
    color: #cc0000;
  }

  /* .quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .quantity-container button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    border: 1px solid black;
    background-color: white;
  }
  
  .quantity {
    margin: 0 10px;
    font-size: 16px;
  }
   */