<div class="menu-container">
  <h1 class="menu-header">Our Menu</h1>

  <div class="menu-section">
    <h2 class="section-header">North Indian</h2>
    <ul class="item-list">
      <li class="menu-item" *ngFor="let m of menu">
        <div class="item-name">{{ m.name }}</div>
        <div class="item-name">{{ m.availability }}</div>
        <div class="item-price">{{ m.price | currency }}</div>
      </li>
    </ul>
  </div>

  <div class="menu-section">
    <h2 class="section-header">South Indian</h2>
    <ul class="item-list">
      <li class="menu-item" *ngFor="let item of entrees">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-price">{{ item.price | currency }}</div>
      </li>
    </ul>
  </div>

  <div class="menu-section">
    <h2 class="section-header">Desserts</h2>
    <ul class="item-list">
      <li class="menu-item" *ngFor="let item of desserts">
        <div class="item-name">{{ item.name }}</div>
        <div class="item-price">{{ item.price | currency }}</div>
      </li>
    </ul>
  </div>
</div>