<mat-card style="background: linear-gradient(to right,pink,white);">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
        <button mat-list-item routerLink="/admin/user"><mat-icon mat-list-icon>group</mat-icon>Users</button>
        <button mat-list-item routerLink="/admin/orders"><mat-icon mat-list-icon>account_circle</mat-icon>Orders</button>
        <button mat-list-item routerLink="/admin/ratings"><mat-icon mat-list-icon>thumb_up_off_alt</mat-icon>Ratings</button>
        <button mat-list-item routerLink="/admin/restaurant" ><mat-icon mat-list-icon>store_font</mat-icon>Restaurant</button>
        <button mat-list-item routerLink="/admin/restaurantdashboard" ><mat-icon mat-list-icon>storefront</mat-icon>Restaurant Dashboard</button>
    </mat-action-list>
</mat-card>