<h1 style="color: white; text-align: center;">welcome to admin page</h1>
<div class="container">

    <div class="card">
        <h2>Restaurant Peak Hours</h2>
        <div class="info" *ngFor="let r of peekHours let i =index">
            <p *ngIf="i<2">Between: {{r.time}}</p>
            <p *ngIf="i<2">Orders: {{r.orders}}</p>
            <p *ngIf="showMore && i>2">Between: {{r.time}}</p>
            <p *ngIf="showMore && i>2">Orders: {{r.orders}}</p>
            <button mat-raised-button color="accent" *ngIf="i===2" (click)="showMore=!showMore">{{showMore?'See Less':'See More'}}</button>
            <p *ngIf="showMore && i>2">Between: {{r.time}}</p>
            <p *ngIf="showMore && i>2">Orders: {{r.orders}}</p>
        </div>
    </div>

    <div class="card">
        <h2>Most Ordered Dishes in Last 15 Days</h2>
        <div class="info" *ngFor="let m of mostOrderedDish">
            <p>{{m.menuItem}} is Order {{m.count}} Times</p>
        </div>
    </div>

    <div class="card">
        <h2>Rating Dashboard</h2>
        <p>Total Registered Users in Restaurant: {{ratingDashboard?.totalUsers}}</p>
        <p>Rated Orders: {{ratingDashboard?.ratedOrdersCount}}</p>
        <p>Total Users Whose Give Rating: {{ratingDashboard?.totalUsersWhoGaveRating}}</p>
    </div>

    <div class="card" *ngIf="!orderDashboardButton">
        <h2>Order Dashboard</h2>
        <p>fromDate: <input type="search" placeholder="yyyy-mm-dd" [(ngModel)]="fromDate"></p>
        <p>toDate: <input type="search" placeholder="yyyy-mm-dd" [(ngModel)]="toDate"></p>
        <button mat-raised-button color="primary" (click)="getOrderDashboard();orderDashboardButton=!orderDashboardButton">submit</button>
      </div>

    <div class="card" *ngIf="orderDashboardButton">
        <h2>Order Dashboard</h2>
        <p>Total Registered Users in Restaurant: {{orderDashboard?.totalUsers}}</p>
        <p>Total Orders: {{orderDashboard?.totalOrders}}</p>
        <p>Waiting Orders: {{orderDashboard?.waitingOrders}}</p>
        <p>Cancelled Orders: {{orderDashboard?.cancelledOrders}}</p>
        <p>Completed Orders: {{orderDashboard?.completedOrders}}</p>
        <button mat-raised-button color="primary" (click)="orderDashboardButton=!orderDashboardButton">OKAY</button>
    </div>

    <div class="card" *ngIf="!orderStatisticsButton">
        <h2>Order statistics</h2>
        <p>fromDate: <input type="search" placeholder="yyyy-mm-dd" [(ngModel)]="fromDate"></p>
        <p>toDate: <input type="search" placeholder="yyyy-mm-dd" [(ngModel)]="toDate"></p>
        <button mat-raised-button color="primary" (click)="getOrderStatistics()">submit</button>
    </div>

    <div *ngIf="orderStatistics && orderStatistics.length > 0" >
    <div class="card" *ngFor="let o of orderStatistics">
        <h2>Order Statistics</h2>
        <p>Total Registered Users in Restaurant: {{o.count}}</p>
        <p>Total Orders: {{o.date}}</p>
    </div>
    </div>
      

    

</div>
