.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    
  }

  /* . createRestaurant {
    width: 400px;
    padding: 20px;
    margin: 120px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  } */
  
  .card h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .info {
    margin-top: 20px;
  }
  
  .info p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  button {
    margin-top: 20px;
  }