<div class="bootstrap-wrappper">

    
    <div class="container text-center mt col-md-9">

        <h1 class="text-center">Welcome to Delhi Fast Food</h1>
        <b>
        <a routerLink="/login" mat-raised-button color="accent">{{title | uppercase}}</a>
        </b>
        <b>
        <a style="margin-left: 10px;" mat-raised-button color="accent" routerLink="/createnewuser">Create New Account</a>
        </b>
        
        <!-- <div class="container col-md-3">
        <mat-card>
            <button>See Menu</button>
        </mat-card>
        </div> -->
    </div>

</div>    
