<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center" style="color: white;">Login here !!</h1>

                <!-- creating forms -->

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)]="credentials.username"
                        required
                        name="username"
                        type="text" matInput />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="credentials.password"
                        required
                        name="password"
                         type="password" matInput />
                    </mat-form-field>

                <div class="container text-center">

                    <button type="submit" mat-raised-button color="primary">Login</button>

                    <button style="margin-left: 10px ;" type="reset" mat-raised-button color="accent">Reset</button>

                </div>
                </form>

                <br>
            </div>
        </div>
    </div>
</div>