<mat-card style="padding: 30px;">
  <div class="container">
    <br>
    <h3 style="text-align: center; font-weight: bold; color: chocolate; background-color: black;">USERS LIST</h3>
    <br>
      <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="searchTerm">
      </mat-form-field>
      <button mat-raised-button color="accent" style="margin-left: 10px;" (click)="filterUsers()">Search</button>
    <table class="table" style="color: black;">
      <thead>
        <tr>
          <th scope="col"><button mat-raised-button color="primary" (click)="selectingUsers = true">Select</button></th>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Deleted</th>
        </tr>
      </thead>
      <tbody *ngIf="user">
        <tr *ngFor="let u of user">
          <td><input type="checkbox" [(ngModel)]="u.selected" [disabled]="!selectingUsers"></td>
          <th scope="row">{{u.id}}</th><!--increment by variable -->
          <td>{{u.firstName}}</td>
          <td>{{u.lastName}}</td>
          <td>{{u.email}}</td>
          <td>{{u.address}}</td>
          <td>{{u.mobileNumber}}</td>
          <td>{{u.deleted}}</td>
        </tr>
      </tbody>
    </table>
    <div style="display: flex; justify-content: space-between; align-items: center;">

      <button mat-flat-button color="accent" (click)="changeData(currentPage-1)"
        [disabled]="currentPage == 0">Previous</button>

      <span style="margin: 0 10px;">Page {{currentPage+1}} of {{totalPages}} <button mat-flat-button color="accent"
          [disabled]="!selectingUsers" (click)="deleteSelectedUsers()">Delete</button></span>

      <button mat-flat-button color="accent" (click)="changeData(currentPage + 1)"
        [disabled]="currentPage >=totalPages">Next</button>

    </div>
  </div>
</mat-card>