<div class="bootstrap-wrapper">
  <div class="container bottom">
    <div class="row">
      <div>
        <mat-card style="padding: 20px;">

          <h1 class="text-center" style="font-weight: bold;color: indianred;">Rating</h1>

          <form [formGroup]="ratingForm"(ngSubmit)="onSubmit()">
           
            <mat-form-field class="full-width">
              <mat-label class="custom-label">Rating</mat-label>
              <input matInput placeholder="Enter here" formControlName="rating"/>
              <mat-error class="mat-error" *ngIf="ratingForm.controls['rating']">
                Please give rating between 1 to 5
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label class="custom-label">Review</mat-label>
              <input matInput placeholder="Enter here" formControlName="review"/>
              <mat-error class="mat-error" *ngIf="ratingForm.controls['review']">
                Please give review max 100 words
              </mat-error>
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">submit</button>
              <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>

            </div>
          </form>

        </mat-card>

      </div>

    </div>
  </div>
</div>