<div class="container">

  <div class="card">
    <h2 style="color:palevioletred;">Add On Items</h2>
    <div class="info" *ngFor="let m of filteredMenu || []">
      <li>Name: {{m.name}}</li>
      <li>Price: {{m.price}}</li>
      <button mat-raised-button color="primary" style="margin-top: 30px; text-align: center;" *ngIf="!findItemExist(m)"
        (click)="addItemsInCart(m)">Add to Cart</button>
        <div *ngIf="findItemExist(m)">
          <button  (click)="removeFromCart(m)">-</button>
        <div class="quantity">{{ findItem(m) }}</div>
        <button  (click)="addItemsInCart(m)">+</button>
        </div>
    </div>
  </div>
  <button mat-raised-button color="accent" style="text-align: center;" routerLink="/menu/cart"
    (click)="closeMatDialog()">Go To Cart</button>
</div>