<mat-card *ngIf="user">
    <h1 class="text-center" style="margin-top: 20px; font-weight: bold; color: chocolate; background-color: black;">your Profile Details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="https://www.shutterstock.com/image-vector/man-icon-vector-260nw-1040084344.jpg" alt="" class="profile-image">
                    <h1 style="margin-top: 20px;">{{user.firstName}} {{user.lastName}}</h1>
                </div>

                <div class="row">

                    <div class="col-md-10 offset-md-1">

                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                        <table class="table" >
                            <tr style="color: black;">
                                <td >Email</td>
                                <td><input type="email" formControlName="email"></td>
                            </tr>
                            <tr style="color: black;">
                                <td >Name</td>
                                <td><input type="text" formControlName="firstName"></td>
                                <!-- <td><input type="text" formControlName="lastName"></td> -->
                            </tr>
                            <!-- <tr style="color: black;">
                                <td>Name</td>
                                <td><input type="text" formControlName="lastName"></td>
                            </tr> -->
                            <tr style="color: black;">
                                <td >Mobile Number</td>
                                <td><input type="text" formControlName="mobileNumber"></td>
                            </tr>
                            <tr style="color: black;">
                                <td >Address</td>
                                <td><input type="text" formControlName="address"></td>
                            </tr>
                            <tr style="color: black;">
                                <td >Status</td>
                                <td>{{user.deleted?"NOTACTIVE":"ACTIVE"}}</td>
                            </tr>
                            <tr style="color: black;">
                                <td >Role</td>
                                <td>{{user.role}}</td>
                            </tr>
                        </table>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
        <a mat-raised-button color="primary" (click)="onSubmit()">UPDATE</a>
    </mat-card-actions>
</mat-card>
